.t {
  color: white;
  opacity: 1;
  transition: all 500ms ease-out;
  transform: translateY(5px);
}

//'ff1744', 'D500F9', '2979FF', '00E676', ''
.c1 {
  background-color: #FFC400;
}

.c2 {
  background-color: #ff1744;
}

.c3 {
  background-color: #2979FF;
}

.c4 {
  background-color: #D500F9;
}

.c5 {
  background-color: #00E676;
}

.o {
  background-blend-mode: color;
  opacity: .5;
  transition: all 350ms ease-out;
}

.bb:hover {
  background-position-y: -5px;
  filter: saturate(110%) brightness(110%);
}

.bb {
  transition: all 1000ms ease-out;
  background-position: center;
  background-size: cover;
}

.bb:hover {
  .t {
    transform: translateY(-5px);
  }
  .o {
    opacity: .5;
    background-color: #111;
  }
}
