<div class=' '>

  <app-title icon='work' title='Experience' margins="true"></app-title>
 
  <mat-card *ngFor='let exp of exps' [ngsRevealSet]="{ reset:true}" [ngsSelector]="'.reveal'" class='mar-32 bl  reveal'>

    <a *ngIf='exp.companyLogo' target='_blank' class='top-right' [href]="exp.website">
      <img [src]="exp.companyLogo" class='h-32 reveal ' alt="">
    </a>

    <h4 *ngIf='exp.companyLogo'  [ngClass.xs]="'mar-t-32 pad-t-8'" class='no-mar-b reveal'>{{exp.start + ' - ' + exp.end + ' (' + exp.duration + ')'}} </h4>
    
 
    <h4 *ngIf='!exp.companyLogo'   class='no-mar-b  reveal'>{{exp.start + ' - ' + exp.end + ' (' + exp.duration + ')'}} </h4>

    <p class='mar-t-8  '>
      <mat-chip-list>
        <a [href]="exp.website" target='_blank'>
          <mat-chip color='primary' selected class='reveal'>
            {{exp.company}}
          </mat-chip>
        </a>
      </mat-chip-list>
    </p>

    <h1 class=' reveal mar-t-8 title'>
      {{exp.title}} <span class='location mat-h3'>  {{exp.location}} </span>
    </h1>

    <h3 class='reveal'>Experiences:</h3>
   
    <ul *ngFor='let experience of exp.experiences' class='reveal'>
     <li>
      {{experience}}
         </li>
    </ul>

    <h2 class='reveal mar-t-16 no-mar-b'>Projects:</h2>

    <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="16px">
      <ng-container *ngFor='let a of exp.achievements'>
        <button mat-button mat-flat-button class='mar-b-16' color='primary' (click)="openLink(a.url)" fxFlex='30%'
          fxFlex.lt-md='45%' fxFlex.xs='95%' fxFlex.md='45%'>
          {{a.title}}
          <mat-icon>open_in_new</mat-icon>
        </button>
      </ng-container>
    </div>


    <!--    <mat-chip-list>
      <mat-chip color='accent' selected *ngFor='let a of exp.achievements' class='reveal'>
        <a [href]="a.url" class='a-link' target="_blank">{{a.title}}</a>
      </mat-chip>
    </mat-chip-list>
 -->
    <h2 class='reveal mar-t-16 no-mar-b'>Technologies:</h2>
    <mat-chip-list>
      <mat-chip color='secondary' *ngFor='let tec of exp.technologies' class='reveal'>
        {{tec}}
      </mat-chip>
    </mat-chip-list>



  </mat-card>

</div>
