.top-right {
  position: absolute;
  float: right;
  right: 20px;
  transition: all .3s ease-out;

  &:hover {
    filter: brightness(1.1) saturate(1.2);
    transform: scale(1.06);
  }
}

.title{
  font-weight: 500;
}
.location{
  font-style: italic;
  font-weight: 400;

}