<!-- <div class="particles-js"></div> -->
<img class="github-btn  " (click)="goToRepo()" src="assets/github.png" alt="">
<div class='ccc pad-l-32 pad-r-32  wbg mat-elevation-z2   ' fxFlex>
  
  <div fxLayout='column' fxLayoutAlign='center center' class='pull-ups  '>

    <img class=" h-128 w-128 pull-up-64 circle mat-elevation-z5 center-crop avatar  " src="assets/avatar.jpg" alt="">
   <div class='pull-up-32'>

     <div fxLayout='row' fxLayoutAlign='center center'  >
       
       <div class='mar-l-8'>
         <h2 class='mat-h1 bold no-mar-b'>
           {{infos[0].value}}
          </h2>
          
          <h1 class=' mat-h1 bold no-mar-b'>
            {{infos[1].value}}
          </h1>
        </div>
        
      </div>
      
      <div class='mar-t-16  '>
        <ng-container *ngFor="let info of infos;let index = index ">
          <app-bio-info class='bio-info  ' *ngIf='index > 1' [info]='info'>
          </app-bio-info>
        </ng-container>
      </div>
      
      
      <a href="https://github.com/megaacheyounes" fxFlexFill target='_blank' class='bg-git mar-t-16  '
      fxLayoutAlign='center center' mat-raised-button>
      <img src="assets/github.png" class='pad-r-4' alt=""> Github
    </a>
    
    
    <a href="https://www.linkedin.com/in/megaache-younes/" fxFlexFill target='_blank' class='bg-li mar-t-16  '
    fxLayoutAlign='center center' mat-raised-button>
    <img src="assets/linkedin.png" class='w-32 h-32' alt=""> LinkedIn
  </a>
  
  <a (click)="showCV()" class='mar-t-16' fxFlexFill mat-raised-button color='primary'>
    <mat-icon class='pad-8'>cloud_download</mat-icon>
    Download Resume/CV
  </a>
  
</div>

    <!--   <form #statsForm target="_blank" [action]="url" method='post'>
      <input matInput name="lt" type="number" hidden>
      <input matInput name="ln" type="number" hidden>
      <input matInput name="nt" type="text" hidden>
      <input #statsFormSubmit type="submit" hidden>
    </form> -->

  </div>
</div>
