.pull-up {
  position: relative;
  top: -64px;
}

.avatar {
  filter: brightness(1.1);
  transition: 1s all ease-out;

  :hover {
    filter: brightness(1.2) saturate(1.05);
  }
}

.pull-up-64 {
  position: relative;
  top: -64px;
}

.bg-li {
  background-image: linear-gradient(135deg, #abdcff 10%, #0396ff 100%);
  color: white;
}

.ccc {
  background: rgba($color: #ffffff, $alpha: 0.7);
}

.wbg {
  // background: #ffffffaf;
}

.bg-git {
  background-image: linear-gradient(135deg, #515151 10%, #212121 100%);
  color: white;

  img {
    filter: brightness(1000);
    height: 24px;
  }

}

.github-btn {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 12px;
  top: 12px;
  opacity: 0.7;
  transition: 0.3s all ease-out; 
  padding: 4px;
  border-radius: 50%;
}

.github-btn:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.438);
  opacity: 1; 
  transform: scale(1.1);
}

.bold{
 font-size: 2.2em;
}