<mat-card class='mar-l-32 mar-r-32 mar-b-32 reveal'>

  <app-title icon='message' title='Contact'> </app-title>



  <form [formGroup]='form' (ngSubmit)='send(form.value )' fxLayout="column">

    <mat-form-field class='reveal'>
      <input matInput formControlName='name' type="text" placeholder='name'>
      <mat-error *ngIf="name.invalid && ( name.dirty || name.touched)">
        please enter a valid name
      </mat-error>
    </mat-form-field>

    <mat-form-field class='reveal'>
      <input matInput formControlName='email' type="email" placeholder='email'>
      <mat-error *ngIf="email.invalid && ( email.dirty || email.touched) ">
        please enter a valid email
      </mat-error>
    </mat-form-field>


    <mat-form-field class='reveal'>
      <input matInput type="text" formControlName='subject' placeholder='subject'>
      <mat-error *ngIf="subject.invalid && ( subject.dirty || subject.touched)">
        please enter a valid subject
      </mat-error>
    </mat-form-field>

    <mat-form-field class='reveal'>
      <textarea rows='5' matInput formControlName='message' placeholder='message'></textarea>
      <mat-error *ngIf="message.invalid && ( message.dirty || message.touched)">
        please enter a valid message
      </mat-error>

      <mat-hint align="end">{{message.value.length}} / 4000</mat-hint>
    </mat-form-field>

    <button mat-raised-button color='primary' class='mar-t-8 reveal' type='submit'>
      <mat-icon>send</mat-icon> send
    </button>


  </form>

</mat-card>
