<mat-card fxFLex>

  <h1 fxLayout='column' fxLayoutAlign='center center'>
    <mat-icon>done_all</mat-icon>
    Skills
  </h1>



  <div fxLayout.gt-sm="row" fxLayout.lt-md='column' fxLayoutGap='5%'>

    <div fxFlex='50%'>
      <app-skills-item *ngFor='let skill of skills1' [skill]='skill'>
      </app-skills-item>
    </div>
    <div fxFlex='50%'>
      <app-skills-item *ngFor='let skill2 of skills2' [skill]='skill2'></app-skills-item>
    </div>
  </div>

  <mat-card class='pull-down' fxLayoutAlign='center center'>
    <h4 fxLayout='row wrap'>
      <span class='mar-l-16' fxLayoutAlign='center center' *ngFor='let skill of otherSkills'>
        <mat-icon class='mar-r-4'>done </mat-icon>
        {{skill}}
      </span>
    </h4>
  </mat-card>

</mat-card>
