.t {
  color: white;
  opacity: 1;
  transition: all 500ms ease-out;
  transform: translateY(5px);
}

//'ff1744', 'D500F9', '2979FF', '00E676', ''
.c1 {
  background-color: #FFC400;
}

.c2 {
  background-color: #ff1744;
}

.c3 {
  background-color: #2979FF;
}

.c4 {
  background-color: #D500F9;
}

.c5 {
  background-color: #00E676;
}

.o {
  background-blend-mode: color;
  opacity: .5;
  transition: all 350ms ease-out;

}

.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: 100%;
  background-position: center;
  max-height: inherit;
  transition: all 1000ms ease-out;
  -moz-transition: all 1000ms ease-out;
  -ms-transition: all 1000ms ease-out;
  -o-transition: all 1000ms ease-out;
  -webkit-transition: all 1000ms ease-out;
}

.bb:hover .bg {
  background-size: 120%;

}

.bb {
  transition: all 1000ms ease-out;
  background-position: center;
  background-size: cover;
  position: relative;



  :hover {
    filter: saturate(120%) brightness(120%);


    .t {
      transform: translateY(-5px);
    }

    .o {
      opacity: .5;
      background-color: #111;
    }

  }

}
