<div class='no-scroll'>

  <app-title icon='work' title='Projects' margins="true"></app-title>
 
    <mat-card [ngsRevealSet]="{ reset:true}" [ngsSelector]="'.reveal'" class='bg-ws mar-32  reveal'>

      <h1 fxFlexFill class='h pad-16 mat-display-1' fxLayoutAlign='center center'>
        <mat-icon>public </mat-icon>
        Websites
      </h1>

      <div>

        <div class='a '>

          <app-website-card *ngFor='let website of websites' [project]='website'>
          </app-website-card>

        </div>

      </div>
    </mat-card>

  
  <div class='bg-aa   mar-t-32'>

    <div [ngsRevealSet]="{ reset:true}" [ngsSelector]="'.reveal'" class=' pad-b-32 reveal'>

      <h1 fxFlexFill class='h pad-16 mat-display-1' fxLayoutAlign='center center'>
        <mat-icon>android </mat-icon>
        android apps
      </h1>

      <div>
        <div class=" b">

          <app-app-card class='mar-l-32  ' *ngFor='let app of apps' [project]='app'>
          </app-app-card>

        </div>
      </div>

    </div>


  </div>
</div>
