<div ngClass.gt-sm='bio '>

  <div fxFlex.gt-sm='30%' fxLayout.lt-md='100%' fxFlexFill fxLayout='column' fxLayoutAlign='center center'
    class='bg-cc full-height fh pad-32 mat-elevation-z8'>

    <!--     <app-bio class=' mar-t-32' (downloadEvent)='dc.reveal()'></app-bio> -->
    <app-bio class=' mar-t-32'></app-bio>

  </div>
</div>

<div fxLayout='row ' [ngsRevealSet]="{ reset:true}" [ngsSelector]="'.reveal'">

  <div fxFlexOffset.gt-sm='30% ' fxFlex.lg='70% ' fxFlex.lt-md='100% ' class='scroll-y ' fxLayout='column '>

    <app-education></app-education>

    <app-experiences></app-experiences>

    <app-skills class='mar-32'></app-skills>

    <app-project></app-project>

    <app-certificates class='mar-32 '></app-certificates>

    <app-hobbies class='  '></app-hobbies>

    <app-download-cv *ngIf='false' #dc></app-download-cv>

    <app-contact class=' '></app-contact>

    <app-footer></app-footer>
  </div>

</div>
