.h {
  font-size: 42px;
  color: white;
  text-transform: uppercase;
}

.bg-ws {
  //background-image: linear-gradient( 135deg, #FFD3A5 10%, #FD6585 100%);
  ///background-image: linear-gradient( 135deg, #CE9FFC 10%, #7367F0 100%);
  background-image: linear-gradient( 135deg, #FFF720 10%, #3CD500 100%);
}

.bg-aa {
  background-image: linear-gradient( 135deg, #FDD819 10%, #E80505 100%);
}
