<div class='no-scroll'>

  <h1 class='mar-32 pad-t-16 ' fxLayout='column' fxLayoutAlign='center center'>
    <mat-icon>work</mat-icon>
    projects
  </h1>


  <div class='bg-ws wow pulse'>

    <div class=' pad-b-32 '>

      <h1 fxFlexFill class='h pad-16 mat-display-1' fxLayoutAlign='center center'>
        <mat-icon>public </mat-icon>
        Websites
      </h1>

      <div>

        <div class='a '>

          <app-website-card *ngFor='let website of websites' [project]='website'>
          </app-website-card>

        </div>

      </div>
    </div>

  </div>
  <div class='bg-aa wow pulse '>

    <div class=' pad-b-32'>

      <h1 fxFlexFill class='h pad-16 mat-display-1' fxLayoutAlign='center center'>
        <mat-icon>android </mat-icon>
        android apps
      </h1>

      <div>
        <div class=" b">

          <app-app-card class='mar-l-32' *ngFor='let app of apps' [project]='app'>
          </app-app-card>

        </div>
      </div>

    </div>


  </div>
</div>
