<div fxLayout ngClass.gt-sm='bio '>

  <div fxFlex.gt-sm='30%' fxLayout.lt-md='100%' fxLayout='column' fxLayoutAlign='center center'
    class='bg-cc full-height fh pad-32 mat-elevation-z8'>

    <app-bio class=' mar-t-16 wow fadeInUp mar-32'></app-bio>


  </div>
</div>

<div fxLayout='row '>

  <div fxFlexOffset.gt-sm='30% ' fxFlex.lg='70% ' fxFlex.lt-md='100% ' class='scroll-y ' fxLayout='column '>

    <app-education></app-education>

    <app-experiences></app-experiences>

    <app-skills class='mar-32 wow fadeInUp '></app-skills>

    <app-project></app-project>

    <app-certificates class='mar-32 '></app-certificates>

    <app-hobbies class='wow slideInUp '></app-hobbies>

    <app-contact class='wow slideInUp '></app-contact>

    <h6 fxLayoutAlign='center center'>Megaache Younes's personal website v{{version}} </h6>

  </div>

</div>
